

//header height

$header-height-S: 50px;
$header-height-M: 70px;

//z-index - order the elements from the lowest z-index(left) to the highest(right)

$main-elements: main-content;
$bg-elements: fixed-bg, scrolling-bg;


