<header style="text-align: center; background-color: black;">

  <br>

  <a id="title" href="#"><img src="app/main/icons_title/mtgCentralTextRed.png" height="155" width="340" ></a>

  <a class="mana" href=""><img src="app/main/icons_title/mtg_white_mana_dk.png" height="105" width="105"  onmouseover="this.src='app/main/icons_title/mtg_white_mana_Lt.png'" onmouseout="this.src='app/main/icons_title/mtg_white_mana_dk.png'" /></a>

  <a class="mana" href=""><img src="app/main/icons_title/mtg_blue_mana_dk.png" height="105" width="105"  onmouseover="this.src='app/main/icons_title/mtg_blue_mana_Lt.png'" onmouseout="this.src='app/main/icons_title/mtg_blue_mana_dk.png'" /></a>

  <a class="mana" href=""><img src="app/main/icons_title/mtg_black_mana_dk.png" height="105" width="105"  onmouseover="this.src='app/main/icons_title/mtg_black_mana_Lt.png'" onmouseout="this.src='app/main/icons_title/mtg_black_mana_dk.png'" /></a>

  <a class="mana" href=""><img src="app/main/icons_title/mtg_red_mana_dk.png"  height="105" width="105" onmouseover="this.src='app/main/icons_title/mtg_red_mana_Lt.png'" onmouseout="this.src='app/main/icons_title/mtg_red_mana_dk.png'" /></a>

  <a class="mana" href="/index.html#/list"><img src="app/main/icons_title/mtg_green_mana_dk.png" height="105" width="105"  onmouseover="this.src='app/main/icons_title/mtg_green_mana_Lt.png'" onmouseout="this.src='app/main/icons_title/mtg_green_mana_dk.png'" /></a>

</header>

<main class="cd-main-content" ng-controller="MainCtrl as app">
  <div class="cd-fixed-bg cd-bg-1">
    <div ng-hide="app.user">
      <h1>Please login to continue...</h1>
      <button class="btn btn-lg btn-primary" ng-click="app.login()">Login with Facebook</button>
    </div>

    <div ng-show="app.user">
      <h1>Hello, {{app.user.facebook.displayName}} </h1>

      <button class="btn btn-danger" ng-click="app.logout()">Logout</button>
    </div>
  </div>


  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">

      <p>
        "Now accepting donations of ammunition. Pots, pans, broken yard tools, naughty children, anything will do!" --Orcish Council of War
      </p>

    </div>
  </div>

  <div class="cd-fixed-bg cd-bg-2">
    <h2>Buy Cards From Others right</h2>
  </div>

  <div class="cd-scrolling-bg cd-color-3">
    <div class="cd-container jon">
      <p style='color:white' >My feature is the search function, calling cards from
      firebase and searching threw them depending on what the user types into the
      the search box. Also the user can add the cards they have searched for
      to a have or want list. They can select how many of that card they have and
      delete the card if they selected the wrong one. </p>
      <img src="http://www.makeathumbnail.com/thumbnails/image310736.png"
      alt="Thumbnail provided by MakeAThumbnail.com" />
    </div>
  </div>

  <div class="cd-fixed-bg cd-bg-3">
    <h2>Sell Your Items</h2>
  </div>

  <div class="cd-scrolling-bg cd-color-1">
    <div class="cd-container">
    </div>
  </div>

  <div class="cd-fixed-bg cd-bg-4">
    <h2>Trade Your Items</h2>
  </div>
</main>
