$color-1: #000000;
$color-2: #000000;
$color-3: #000000;
$color-4: #000000;

$main-font: 'Cinzel', serif;

@import '/bower_components/bourbon';

/*@import 'bourbon';*/

@import 'partials/variables'; // colors, fonts etc...

@import 'partials/mixins'; // custom mixins

@import 'partials/layout'; // responsive grid and media queries


html * {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $main-font; //need to link to partials >_variables.scss through bourbon
	}
	color: $color-1;
	backgound-color: $color-4;
}

body, html {
	height: 100%;
}

a {
	color: $color-3;
	text-decoration: none;
}

/*Modules for break points*/

.cd-container {
	width: 90%;
	max-width: $M;
	margin: 0 auto;

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

/* --------------------------------- */

.cd-main-content {
	height: 100%;
	position: relative;
	z-index: index($main-elements, main-content);
}

.cd-fixed-bg {
	position: relative;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: index($bg-elements, fixed-bg);

	h1, h2 {
		position: absolute;
		@include center;
		width: 90%;
		max-width: $L;

		text-align: center;
		@include font-size(30px);
		text-shadow: 0 1px 3px rgba(#000, .3);
		color: $color-4;
	}

	&.cd-bg-1 {
		background-image: url('images/mtg-background-1.jpg');
	}

	&.cd-bg-2 {
		background-image: url('images/mtg-background-2.jpg');
	}

	&.cd-bg-3 {
		background-image: url('images/mtg-background-3.jpg');
	}

	&.cd-bg-4 {
		background-image: url('images/mtg-background-4.jpg');
	}

		@include MQ(M) {
		h1, h2 {
			font-size: 36px;
		}
	}

	@include MQ(L) {
		background-attachment: fixed;

		h1, h2 {
			font-size: 48px;
			font-weight: 300;
		}

}

.cd-scrolling-bg {
	position: relative;
	min-height: 100%;
	padding: 4em 0;
	line-height: 1.6;
	box-shadow: 0 0 50px rgba(#000, .5);
	z-index: index($bg-elements, scrolling-bg);

	&.cd-color-1 {
		background-color: $color-1;
		color: lighten($color-1, 40%);
	}

	&.cd-color-2 {
		background-color: $color-2;
		color: $color-1;
	}

	&.cd-color-3 {
		background-color: $color-3;
		color: $color-1;
	}

	@include MQ(M) {
		padding: 8em 0;
		@include font-size(20px);
		line-height: 2;
		font-weight: 300;
	}
 }
}
