<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" ui-sref="home">MTG-Central</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav">
      <li><a ui-sref="list" ui-sref-active="active">Search</a></li>
      <li ng-show="app.user"><a ui-sref="profile({ id: app.user.uid})" ui-sref-active="active">My Profile</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <button class="logout btn btn-danger" ng-show="app.user" ng-click="app.logout()">Log Out</button>
    </ul>
  </div>
</nav>
