<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src='favicon.ico'> MTG Central
    </a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#">2</a></li>
      <li><a ng-href="#">3</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>Search</li>
    </ul>
  </div>
</nav>
