h2 {
  font-family: 'Cinzel', serif; }

body {
  font-size: 10%;
  font-family: 'Cinzel', serif; }
  body header {
    padding-top: 17px;
    padding-bottom: 20px;
    padding-top: 15px; }
    body header a img {
      margin-top: -18px; }

body > div > header > a:nth-child(5) {
  padding-left: 65px;
  padding-right: 60px;
  padding-bottom: 15px; }

body > div > header > a:nth-child(3) {
  padding-left: 75px;
  padding-right: 70px;
  padding-bottom: 15px; }

body > div > main > div.cd-scrolling-bg.cd-color-2 > div > p {
  color: white;
  padding-top: 50px; }

body > div > main > div.cd-fixed-bg.cd-bg-2 > h2 {
  font-size: 70px; }

body > div > main > div.cd-fixed-bg.cd-bg-3 > h2 {
  font-size: 70px; }

body > div > main > div.cd-fixed-bg.cd-bg-4 > h2 {
  font-size: 70px; }

body > div > main > div.cd-scrolling-bg.cd-color-2 > div > p:nth-child(1) {
  font-size: 20px; }
