<div class="col-md-10 search-cont" ng-controller='SearchCtrl as search'>
  <!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <ul id="search">
    <input autocomplete="off" type="text" ng-model="searchForm" ng-keyup="search.searchByName()" name="q"
    id="topsearch" placeholder="Search..." class="field"  autofocus='autofocus'/>

    <li ng-repeat = "card in search.cards | limitTo: 10" style="list-style-type:none">
      <p ng-click="search.addItemHave(search.cards[$index])">
        <a href="">{{card.name}} | {{card.cardSetName}} </a>
        <button ng-click='search.addItemHave(search.cards[$index])'>Add Haves  </button>
        <button ng-click='search.addItemWant(search.cards[$index])'>Add Wants</button>
      </p>
    </li>
  </ul>

  <ul id="have">
    <li ng-repeat="(id, have) in search.haves" >

      {{have.name}} | {{have.cardSetName}}
      <button ng-click="search.removeItemHave(id)"> Remove </button>
    </li>
  </ul>

  <ul id="want">
    <li ng-repeat="(id, want) in search.wants" >

      {{want.name}} | {{want.cardSetName}}
      <button ng-click="search.removeItemWant(id)"> Remove </button>
    </li>
  </ul>
</div>
